---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import FormattedDate from '../components/FormattedDate.astro';
import PostSubtitle from '../components/PostSubtitle.astro';
import Avatar from '../assets/avatar.png';

const lastThreePosts = (await getCollection('blog'))
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, 3);
---

<style>
  img[alt='Avatar'] {
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
  }

  .lastest-posts a {
    text-decoration: none;
  }
</style>

<html lang="en">
  <head>
    <BaseHead
      title={SITE_TITLE}
      description={SITE_DESCRIPTION}
    />
  </head>
  <body>
    <Header />
    <main class="container">
      <section class="hero fadeInDown">
        <Image
          src={Avatar}
          alt="Avatar"
          loading="eager"
        />
        <h1>{SITE_TITLE}</h1>
        <p>{SITE_DESCRIPTION}</p>
      </section>
      <section class="lastest-posts fadeIn">
        <h2>Latest Posts</h2>
        {
          lastThreePosts.map((post) => (
            <a href={`/posts/${post.id}/`}>
              <article class="post-card">
                <h2>{post.data.title}</h2>
                <FormattedDate date={post.data.date} />
                {post.data.subtitle ? post.data.subtitle : <PostSubtitle text={post.body!} />}
              </article>
            </a>
          ))
        }
      </section>
    </main>
    <Footer />
  </body>
</html>

<style>
  .grid > a {
    text-decoration: none;
  }
</style>
